<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>AutoSimTrans 2021: {{page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this page -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">AutoSimTrans 2021</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% assign sorted_pages = site.pages | sort:"order" | where:"collection","pages_2021" %}
                    {% for p in sorted_pages %}
                        {% if p.title == 'Home' %}{% assign p0url = p.url %}{% endif %}

                        {% if p.title == page.title %}
                            <li class="nav-item active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
    
                        {% if p.title == 'Tutorial' or p.title == 'docker' or p.title == 'Shared Task' or p.title == 'Important Dates' or p.title == 'Call for Papers' or p.title == 'Past'%}
                            <a class="nav-link" href="{{p.url}}">{{p.title}}</a>
                        {% elsif p.title == 'Program' %}
                            <a class="nav-link" href="{{p.url}}" hidden>
                                <div class="px-1 border rounded bg-info">
                                    {{p.title}}
                                </div>
                            </a>
                        {% else %}
                            <a class="nav-link" href="{{p0url}}#{{p.anchor}}">{{p.title}}</a>
                        {% endif %}
                        </li>
                    {% endfor %}
                    <!--{{sorted_pages['1'].title}} useless-->
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="blog-header">
    <div class="container text-center">
        <h1 class="blog-title">The 2nd Workshop on Automatic Simultaneous Translation</h1>
           <h4>Challenges, Recent Advances, and Future Directions</h4>
        <p class="lead blog-description">
            Workshop proposal<span hidden>at <a href="https://acl2020.org/program/workshops/#autosimtrans" target="_blank">ACL 2020</a>, Seattle, July 10, 2020</span><br/>

            Contact: <a href="mailto:autosimtrans.workshop@gmail.com" class="fa fa-envelope"></a>
            <a href="mailto:autosimtrans.workshop@gmail.com">autosimtrans.workshop@gmail.com</a> or 
            <a href="https://twitter.com/autosimtrans" class="fa fa-twitter" target="_blank"></a>
            <a href="https://twitter.com/autosimtrans" target="_blank">twitter.com/autosimtrans</a> 
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 blog-main">
            {{content}}
        </div><!-- /.blog-main -->

    </div><!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer">
    <p>
        <a href="https://twitter.com/autosimtrans" class="footer-icon" target="_blank">
            <img height="24" width="24" src="https://unpkg.com/simple-icons@2.2.0/icons/twitter.svg"/>
        </a>
        <a href="https://github.com/autosimtrans/autosimtrans.github.io" class="footer-icon" target="_blank">
            <img height="24" width="24" src="https://unpkg.com/simple-icons@latest/icons/github.svg"/>
        </a>
        <a href="https://getbootstrap.com" class="footer-icon" target="_blank">
            <img height="24" width="24" src="https://unpkg.com/simple-icons@latest/icons/bootstrap.svg"/>
        </a>
    </p>
</footer>

<style type="text/css">
pre{
    color: #e83e8c;
    background-color:#f1f1f1;
  }
table, th, td{    
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid #E8E8E8;
    background-color:#FAFAFA;
}

.fa {
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


</style>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
